.example-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(min(20vh, 150px), 170px), 1fr)
  );
}

.example-container > * {
  aspect-ratio: 1;
}

.example-box {
  font-size: 40px;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}
