.example-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(min(20vh, 150px), 170px), 1fr)
  );
}

.example-container > * {
  aspect-ratio: 1;
  overflow: hidden;
}

.example-box {
  font-size: 40px;
  width: 100%;
  height: 100%;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-receiving .example-box {
  transform: none !important;
}

.cdk-drag-placeholder {
  transform: none !important;
}

.cdk-drag-placeholder {
  opacity: 0.3;
  transform: none !important;
}
